*{
    font-family: 'Josefin Sans', sans-serif;
}
.bg{
    background: url("/assets/Background\ Image.png") no-repeat;
    background-size: cover;
    background-position: cener;
    
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-50px);
	}
	100% {
		transform: translatey(0px);
	}
}
.animate{
    animation: float 5s linear infinite;
}
.height{
	height: 50% !important;
}
canvas {
	display: block;
	margin: 0 auto;
	border: 1px solid black;
}